.form-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    h1{
        font-size: 1.8rem;
        color: navy;
    }

    form{
        display: flex;
        flex-direction: column;
        width: 40%;

        input{
            height: 30px;
            width: 90%;
            font-size: 1rem;
            padding: 5px;
            margin: 10px 0;
        }
    }
}