.car-section {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    a {
	width: 26%;
	margin: 2% 0;
	text-decoration: none;
	color: inherit;
}
}



.search-button{
    height: 38px;
    
    margin-left: 10px;
    background-color: navy;
    color: white;
    font-size: 1rem;
}

.search-bar-section{
  
    button{
        width: 120px;
        border-radius: 5px;
        &:hover{
            font-size: 1.1rem;
        }
    }
    .add{
        height: 38px;
        margin-left: 10px;
        background-color: RGB(68, 184, 172);
        color: white;
        font-size: 1rem;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1rem;
        &:hover{
            font-size: 1.1rem;
        }
    }
    .clear-filters{
        height: 38px;
        margin-left: 10px;
        background-color: palevioletred;
        color: white;
        font-size: 1rem;
    }
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    form{
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: 10px;
        justify-content: center;

    }
    input{
        width: 30%;
        height: 20px;
        font-size: 1.2rem;
        padding: 5px;
        border-radius: 10px;
    }
}